<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<title>Koanify - About Koans</title>
		<link rel="stylesheet" type="text/css" href="./css/styles.css">
		<link rel="icon" type="image/png" href="../public/img/taoismus.png">
	</head>

	<body id="aboutKoans" class="grid">
		<article>
	    <h1>About Koans</h1>
			<p>
				Koan is a surprising or paradoxical word or phrase, taken from an anecdote, that is used as an object of meditation in traditions descended from Chinese Chan Buddhism, like Japanese Zen. Contemplating these words is part of the training given by a teacher to help a Buddhist student to awaken.
			</p>
			<br>
			<p>
				The word koan is a spelling of Chinese gong’an, meaning “public record” or “legal precedent,” and also means “story.” Most of the koans used today come from several collections of gong’an dating back to 12th- and 13th-century China; the best-known collections have been translated many times
				and are found in English under titles like The Gateless Gate and The Blue Cliff Record. In these anthologies, each story, usually an exchange between two Buddhist masters or between master and student, is paired with elucidating commentary, a brief encapsulation of the point, lines of verse,
				and sometimes commentary on the verse.
			</p>
			<br>
			<p>
				The tradition of koan study may vary in some ways in different schools of Zen, but in the form most familiar to us in the West, students are given a koan (which may be more or less well known) and are asked to demonstrate to the teacher their comprehension
				of its meaning. When habitual thinking or reasoning leads nowhere, students will begin to “sit with” the koan and ultimately bring the teacher a direct or spontaneous “answer” that reflects their Zen training. In some schools, a student may work on a koan for years, or may need to work through a
				traditional list of koans.
			</p>
		</article>
		<footer id="footer-aboutKoans" class="clearfix">
			<a href="/today">Today's Koan</a>
			<a href="/">Koanify</a>
			<a href="/about">About this Page</a>
		</footer>
	</body>

</html>
