<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<title>Koanify - About</title>
		<link rel="stylesheet" type="text/css" href="./css/styles.css">
		<link rel="icon" type="image/png" href="../public/img/taoismus.png">
	</head>

	<body id="about">
		<article>
	    <p>
				Koans switch every 24 hours.
			</p>
		</article>
		<footer id="footer-about" class="clearfix">
			<a href="/today">Today's Koan</a>
			<a href="/">Koanify</a>
			<a href="/aboutKoans">About Koans</a>
		</footer>
	</body>

</html>
