<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<title>Koanify - Today's Koan</title>
		<link rel="stylesheet" type="text/css" href="./css/styles.css">
		<link rel="icon" type="image/png" href="../public/img/taoismus.png">
	</head>

	<body id="today">
		<article>
			<p>{{this.content}}</p>
		</article>
		<footer id="footer-today" class="clearfix">
			<a href="/about">About this Page</a>
			<a href="/">Koanify</a>
			<a href="/aboutKoans">About Koans</a>
		</footer>
	</body>

</html>
