/* === COLOR SCHEME ===

#315561
#688274
#603540

*/

html {
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #FFF;
  overflow-y: hidden;
}

body {
  margin: 0;
}

/* === GENERELL === */

a {
  text-decoration: none;
  color: #FFF;
}

article {
  text-align: center;
  margin: 4rem;
}

footer {
  background-color: #315561;
  height: 50px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 1.25rem;
}

footer > a {
  margin: 3rem;
  top: .8rem;
  position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (max-width: 626px) {
  footer > a {
    margin: 2rem;
  }
}

@media (max-width: 540px) {
  footer > a {
    margin: 1rem;
  }
}

@media (max-width: 440px) {
  footer > a {
    margin: .8rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 380px) {
  footer > a {
    margin: .7rem;
    font-size: .9rem;
  }
}

/* === FLEXBOX === */

#site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* === STARTSEITE === */

#start {
  background-image: url('../img/stones.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100%;
}

.bubble {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bubble-1 {
  width: 200px;
  height: 200px;
  background-color: #688274;
  font-size: 1.25rem;
  transition-property: width height;
  transition-duration: 1s;
}

#bubble-2 {
  width: 350px;
  height: 350px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #603540;
  font-size: 2rem;
  transition-property: width height;
  transition-duration: 1s;
}

#bubble-3 {
  width: 150px;
  height: 150px;
  background-color: #315561;
  font-size: 1.1rem;
  transition-property: width height;
  transition-duration: 1s;
}

#bubble-1:hover {
  width: 220px;
  height: 220px;
}

#bubble-2:hover {
  width: 370px;
  height: 370px;
}

#bubble-3:hover {
  width: 170px;
  height: 170px;
}

@media (max-width: 528px) {

  #bubble-1 {
    width: 150px;
    height: 150px;
  }

  #bubble-2 {
    width: 300px;
    height: 300px;
  }

  #bubble-3 {
    width: 100px;
    height: 100px;
    font-size: 1.1rem;
  }

  #link-1 {
    display: none;
  }

  #link-2 {
    display: block;
  }
}

/* === ABOUT KOANS === */

#aboutKoans {
  background-image: url('../img/sea.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100%;
  color: #FFF;
}

#footer-aboutKoans {
  background-color: #315561;
}

#aboutKoans a {
  color: #FFF;
}

#aboutKoans p {
  line-height: 1.4rem;
  font-weight: bolder;
}

@media (max-width: 630px) {
  #aboutKoans p {
    font-size: .9rem;
  }
}

@media (max-width: 560px) {
  #aboutKoans p {
    font-size: .6rem;
  }
}

@media (max-width: 410px) {
  #aboutKoans p {
    font-size: .5rem;
  }
}

@media (max-width: 350px) {
  #aboutKoans p {
    font-size: .45rem;
  }
}

/* === TODAY'S KOAN === */

#today {
  color: #000;
  background-image: url('../img/mountain.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#today p {
  font-size: 2.2rem;
  font-style: italic;
  font-weight: bolder;
}

#footer-today {
  background-color: #315561;
}

#today a {
  color: #FFF;
}

@media (max-width: 400px) {
  #today p {
    font-size: 1.8rem;
  }
}

/* === ABOUT === */

#about {
  background-image: url('../img/tori.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100%;
  color: #000;
}

#about p {
  font-size: 2rem;
  font-weight: bold;
}

#footer-about {
  background-color: #000;
}

#about a {
  color: #FFF;
}

@media (max-width: 332px) {
  #about p {
    font-size: 1.4rem;
  }
}
